@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="an-section">
    <div class="container an-con">
        <p class="an-title">Article & News</p>
        <div class="row">
            <div class="col-9">
                <h1 class="an-header-title">Get Every Single Articles & News</h1>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <button class="an-ba-btn">
                    Browse Articles <i class="fa-light fa-arrow-up-right"></i>
                </button>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-3 an-card">
                <div class="an-date">
                    <h5 class="an-date-number">25</h5>
                    <p class="an-date-month">Mar</p>
                </div>
                <img class="an-img" src="~/images/gesan/gesan1.png" />
                <p class="an-underline-p">Business</p>
                <h4 class="an-underline-title">How To Use Digitalization In The Classroom</h4>
                <p class="an-title-p">Lorem, ipsum dotor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
            <div class="col-12 col-lg-3 an-card">
                <div class="an-date">
                    <h5 class="an-date-number">17</h5>
                    <p class="an-date-month">Mar</p>
                </div>
                <img class="an-img" src="~/images/gesan/gesan2.png" />
                <p class="an-underline-p">Business</p>
                <h4 class="an-underline-title">How To Implement Chat GPT In Your Projects</h4>
                <p class="an-title-p">Lorem, ipsum dotor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
            <div class="col-12 col-lg-3 an-card">
                <div class="an-date">
                    <h5 class="an-date-number">13</h5>
                    <p class="an-date-month">Mar</p>
                </div>
                <img class="an-img" src="~/images/gesan/gesan3.png" />
                <p class="an-underline-p">Business</p>
                <h4 class="an-underline-title">The Guide To Support Modern CSS Design</h4>
                <p class="an-title-p">Lorem, ipsum dotor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
        </div>
    </div>
</section>