@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="container feature-con">
    <div class="row">
        <div class="col-12 col-lg-4 feature-left-col">
            <div class="feature-title">
                Features
            </div>
            <div class="feature-paragraph">
                Our Accounting is trusted by thousand of companies
            </div>
            <div class="feature-btn-div">
                <button class="col-12 btn btn-warning feature-btn">
                    Learn More <i class="fa-light fa-arrow-up-right"></i>
                </button>
            </div>
        </div>
        <div class="col-12 col-lg-8 feature-right-col">
            <div class="row">
            <div class="col-6">
                <div class="feature-icon">
                    <i class="fa-light fa-handshake"></i>
                </div>
                <h4>Business Advice</h4>
                <p>Lorem ipsum, dolar sit amet conesctur adipiscing elit.</p>
            </div>
            <div class="col-6">
                <div class="feature-icon">
                    <i class="fa-regular fa-lightbulb-on"></i>
                </div>
                <h4>Startup Business</h4>
                <p>Lorem ipsum, dolar sit amet conesctur adipiscing elit.</p>
            </div>
            <div class="col-6">
                <div class="feature-icon">
                    <i class="fa-regular fa-chart-mixed"></i>
                </div>
                <h4>Financial Advice</h4>
                <p>Lorem ipsum, dolar sit amet conesctur adipiscing elit.</p>
            </div>
            <div class="col-6">
                <div class="feature-icon">
                    <i class="fa-sharp fa-regular fa-box-taped"></i>
                </div>
                <h4>Risk Managment</h4>
                <p>Lorem ipsum, dolar sit amet conesctur adipiscing elit.</p>
            </div>
            </div>
        </div>
    </div>
</div>