@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>


<div class="container project-con">
    <p class="project-title">Project & Case Studies</p>
    <h1 class="project-header-title">Let's Looks Our Global Projects</h1>

    <div class="row">
        @Html.GetBlockListHtml(Model.ProjectCaseBlock)
    </div>
</div>