@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>

<section class="tes-section">
    <div class="container tes-con">
        <p class="tes-title">Testimonial</p>
        <h1 class="tes-header-title">What Our Client Says</h1>
        <div class="row tes-row-con">
                @Html.GetBlockListHtml(Model.TestimonialBlocks)
        </div>
    </div>
</section>