@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>

<div class="container feature-con">
    <div class="row">
        <div class="col-12 col-lg-4 feature-left-col">
            <div class="feature-title">
                Features
            </div>
            <div class="feature-paragraph">
                Our Accounting is trusted by thousand of companies
            </div>
            <div class="feature-btn-div">
                <a href="/services/" class="col-12 btn btn-warning feature-btn">
                    Learn More <i class="fa-light fa-arrow-up-right"></i>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-8 feature-right-col">
            <div class="row">
                @Html.GetBlockListHtml(Model.FeatureBlockList)
            </div>
        </div>
    </div>
</div>