@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="footer-section">
    <div class="container footer-con">
        <div class="row footer-top">
            <div class="col-4">
                <img class="footer-logo" src="~/images/home/crito_logo_white.png" />
                <p class="footer-p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.
                </p>
            </div>
            <div class="col-2">
                <h4 class="footer-title">Company</h4>
                <ul class="footer-list">
                    <li class="footer-list-links"><a class="footer-link" href="/about">About</a></li>
                    <li class="footer-list-links"><a class="footer-link" href="features">Features</a></li>
                    <li class="footer-list-links"><a class="footer-link" href="/works">Works</a></li>
                    <li class="footer-list-links"><a class="footer-link" href="/career">Career</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h4 class="footer-title">Help</h4>
                <ul class="footer-list">
                    <li class="footer-list-links"><a class="footer-link" href="/support">Customer Support</a></li>
                    <li class="footer-list-links"><a class="footer-link" href="/delivery">Delivery Details</a></li>
                    <li class="footer-list-links"><a class="footer-link" href="/agreements/terms">Teams & Conditions</a></li>
                    <li class="footer-list-links"><a class="footer-link" href="/agreements/privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h4 class="footer-title">Resources</h4>
                <ul class="footer-list">
                    <li class="footer-list-links"><a class="footer-link" href="/free/ebook">Free eBooks</a></li>
                    <li class="footer-list-links"><a class="footer-link" href="/tutorials/development">Development Tutorials</a></li>
                    <li class="footer-list-links"><a class="footer-link" href="/guides/how-to-blog">How to - Blog</a></li>
                    <li class="footer-list-links"><a class="footer-link" target_blank href="#">Youtube Playlist</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h4 class="footer-title">Link</h4>
                <ul class="footer-list">
                    <li class="footer-list-links"><a class="footer-link" href="/free/ebook">Free eBooks</a></li>
                    <li class="footer-list-links"><a class="footer-link" href="/tutorials/development">Development Tutorials</a></li>
                    <li class="footer-list-links"><a class="footer-link" href="/guides/how-to-blog">How to - Blog</a></li>
                    <li class="footer-list-links"><a class="footer-link" target_blank href="#">Youtube Playlist</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="footer-hr" />
    <div class="container">
        <div class="row footer-bottom">
            <div class="col-8 footer-copyright">
                © @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.
            </div>
            <div class="col-4 d-flex justify-content-end">
                <ul class="footer-icons">
                    <li class="footer-icon"><i class="fa-brands fa-facebook"></i></li>
                    <li class="footer-icon"><i class="fa-brands fa-twitter"></i></li>
                    <li class="footer-icon"><i class="fa-brands fa-instagram"></i></li>
                    <li class="footer-icon"><i class="fa-brands fa-linkedin"></i></li>
                </ul>
            </div>
        </div>
    </div>
</section>