@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="container wcu-con">
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="wcu-p-title">Why Choose Us</p>
            <h1 class="wcu-title">Why We Are The Best Business Consulting Agency</h1>
            <div class="row">
                <div class="wcu-underlines col-6 col-lg-12">
                    <h4><i class="fa-sharp fa-light fa-thumbs-up" id="wcu-icon"></i> Process Excellence</h4>
                    <p>Lorem, ipsum dolor sit amet conesectetur.</p>
                </div>
                <div class="wcu-underlines col-6 col-lg-12">
                    <h4><i class="fa-sharp fa-light fa-hexagon" id="wcu-icon"></i> Strategic Planning</h4>
                    <p>Lorem, ipsum dolor sit amet conesectetur.</p>
                </div>
                <div class="wcu-underlines col-6 col-lg-12">
                    <h4><i class="fa-sharp fa-light fa-pen-nib" id="wcu-icon"></i> Experience Design</h4>
                    <p>Lorem, ipsum dolor sit amet conesectetur.</p>
                </div>
                <div class="wcu-underlines col-6 col-lg-12">
                    <h4><i class="fa-sharp fa-light fa-head-side-brain" id="wcu-icon"></i> Artificial Intelligence</h4>
                    <p>Lorem, ipsum dolor sit amet conesectetur.</p>
                </div>
            </div>
        </div>
        <div class="col-6 wcu-img-con">
            <img class="wcu-image" src="~/images/home/image-3.png" />
            <div class="wcu-image-background"></div>
        </div>
    </div>
</div>