@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="container on-con">
    <h1 class="on-title">
        Our News & Articles
    </h1>
    <div class="row">
        <div class="col-6 col-lg-4 on-card">
            <div class="on-date">
                <h5 class="on-date-number">25</h5>
                <p class="on-date-month">Mar</p>
            </div>
            <img class="on-img" src="~/images/na/ona1.png" />
            <p class="on-underline-p">Business</p>
            <h4 class="on-underline-title">How To Use Digitalization In The Classroom</h4>
            <p class="on-title-p">Lorem, ipsum dotor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="col-6 col-lg-4 on-card">
            <div class="on-date">
                <h5 class="on-date-number">17</h5>
                <p class="on-date-month">Mar</p>
            </div>
            <img class="on-img" src="~/images/na/ona2.png" />
            <p class="on-underline-p">Business</p>
            <h4 class="on-underline-title">How To Implement Chat GPT In Your Projects</h4>
            <p class="on-title-p">Lorem, ipsum dotor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="col-6 col-lg-4 on-card">
            <div class="on-date">
                <h5 class="on-date-number">13</h5>
                <p class="on-date-month">Mar</p>
            </div>
            <img class="on-img" src="~/images/na/ona3.png" />
            <p class="on-underline-p">Business</p>
            <h4 class="on-underline-title">The Guide To Support Modern CSS Design</h4>
            <p class="on-title-p">Lorem, ipsum dotor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="col-6 col-lg-4 on-card">
            <div class="on-date">
                <h5 class="on-date-number">12</h5>
                <p class="on-date-month">Mar</p>
            </div>
            <img class="on-img" src="~/images/na/ona4.png" />
            <p class="on-underline-p">Business</p>
            <h4 class="on-underline-title">Why You Need To Implement The Fivs S's</h4>
            <p class="on-title-p">Lorem, ipsum dotor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="col-6 col-lg-4 on-card">
            <div class="on-date">
                <h5 class="on-date-number">07</h5>
                <p class="on-date-month">Mar</p>
            </div>
            <img class="on-img" src="~/images/na/ona5.png" />
            <p class="on-underline-p">Business</p>
            <h4 class="on-underline-title">Get More Involved With Your End Users</h4>
            <p class="on-title-p">Lorem, ipsum dotor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="col-6 col-lg-4 on-card">
            <div class="on-date">
                <h5 class="on-date-number">02</h5>
                <p class="on-date-month">Mar</p>
            </div>
            <img class="on-img" src="~/images/na/ona6.png" />
            <p class="on-underline-p">Business</p>
            <h4 class="on-underline-title">Guided Tour Of Our New Head Office In Stockholm</h4>
            <p class="on-title-p">Lorem, ipsum dotor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="col-6 col-lg-4 on-card">
            <div class="on-date">
                <h5 class="on-date-number">28</h5>
                <p class="on-date-month">Feb</p>
            </div>
            <img class="on-img" src="~/images/na/ona7.png" />
            <p class="on-underline-p">Business</p>
            <h4 class="on-underline-title">Using Business Intelligence To Get Insights Into Our Businesses</h4>
            <p class="on-title-p">Lorem, ipsum dotor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="col-6 col-lg-4 on-card">
            <div class="on-date">
                <h5 class="on-date-number">18</h5>
                <p class="on-date-month">Feb</p>
            </div>
            <img class="on-img" src="~/images/na/ona8.png" />
            <p class="on-underline-p">Business</p>
            <h4 class="on-underline-title">Apple Has Released New Products. Are They Any Good?</h4>
            <p class="on-title-p">Lorem, ipsum dotor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="col-6 col-lg-4 on-card">
            <div class="on-date">
                <h5 class="on-date-number">11</h5>
                <p class="on-date-month">Feb</p>
            </div>
            <img class="on-img" src="~/images/na/ona9.png" />
            <p class="on-underline-p">Business</p>
            <h4 class="on-underline-title">How To Improve Your Teams And Get A Better Result</h4>
            <p class="on-title-p">Lorem, ipsum dotor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
    </div>
</div>