@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="container con-for-con">
    <div class="row d-flex justify-content-center">
        <div class="col-4 con-card">
            <div class="row info-div">
                <div class="col-2 con-undercard">
                    <i class="fa-solid fa-location-dot" id="contact-icon"></i>
                </div>
                <div class="col-10 con-undercard">
                    <p class="con-title">Visit us</p>
                    <p class="con-info">Sveavägen 31</p>
                    <p class="con-info">111 34 STOCKHOLM</p>
                </div>
            </div>
        </div>
        <div class="col-4 con-card">
            <div class="row">
                <div class="col-2 con-undercard">
                    <i class="fa-solid fa-phone" id="contact-icon"></i>
                </div>
                <div class="col-10 con-undercard">
                    <p class="con-title">Call us</p>
                    <p class="con-info">+46 (8) 121 470 50</p>
                    <p class="con-info">+46 (8) 121 470 51</p>
                </div>
            </div>
        </div>
        <div class="col-4 con-card">
            <div class="row">
                <div class="col-2 con-undercard">
                    <i class="fa-solid fa-envelope" id="contact-icon"></i>
                </div>
                <div class="col-10 con-undercard">
                    <p class="con-title">Email us</p>
                    <p class="con-info">info@crito.com</p>
                    <p class="con-info">support@crito.com</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-form-con">
        <h1 class="contact-form-title">Leave us a message for any information.</h1>
        <form>
            <input class="contact-input" placeholder="Name*"/>
            <input class="contact-input" placeholder="Email*" />
            <input class="contact-input contact-message" placeholder="Your Message*" />
            <button class="btn btn-warning contact-btn">Send Message <i class="fa-light fa-arrow-up-right"></i></button>
        </form>
    </div>
</div>