@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.FeatureBlockList)Model.Content;
    //var settings = (ContentModels.MyElementTypeAliasOfSettings)Model.Settings;
}

<div class="col-6">
    <div class="feature-icon">
        <i class="@content.FeatureIcon"></i>
    </div>
    <h4>@content.FeatureTitle</h4>
    <p>@content.FeatureText</p>
</div>
