@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ProjectBlocksList)Model.Content;
    //var settings = (ContentModels.MyElementTypeAliasOfSettings)Model.Settings;
}



<div class="col-6">
    <img class="project-img" src="@content.ProjectImage.MediaUrl()" />
    <h5 class="project-col-text">@content.ProjectTitle</h5>
    <hr>
    <div class="project-btn-div">
        <button class="project-btn">Read More <i class="fa-light fa-arrow-up-right"></i></button>
    </div>
</div>