@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TeamBlockList)Model.Content;
    //var settings = (ContentModels.MyElementTypeAliasOfSettings)Model.Settings;
}


<div class="col-3 team-card">
    <img class="team-img" src="@content.MemberImage.MediaUrl()"  />
    <h5 class="team-name">@content.MemberName</h5>
    <p class="team-job">@content.MemberJobTitle</p>
</div>
